.container {
  background-color: #F0F1F3;
  height: 100%;
  padding: 40px 20px;
}

.summarySection {
  margin-bottom: 40px;
}

.header {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #212121;
  margin-bottom: 20px;
}

.statList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 280px;
}

.statItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.statText, .statValue {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #9B9FAA;
}

.statValue {
  font-weight: 700;
  color: #264061;
}

.productList {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #9B9FAA;
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

.emptyText {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #9B9FAA;
  font-style: italic;
}

/* --- TABLET VIEW (Leaves Coming) --- */
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    padding: 80px;
    
    /* IMAGE SETTINGS */
    background-image: url('../../img/leavesRotate@1x.png'); 
    background-repeat: no-repeat;
    background-position: top 45% left 399px;
    background-size: auto;
  }

  .summarySection {
    margin-right: 80px;
    width: 250px;
    margin-bottom: 0;
  }
  
  .foodSection {
    width: 250px;
  }
}

/* --- DESKTOP VIEW (Large Sidebar Background) --- */
@media screen and (min-width: 1280px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 240px 100px 100px 100px;
    
    /* IMAGE SETTINGS */
    background-color: #F0F1F3; 
    background-image: url('../../img/rightSideBar@2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right; 
    
    height: 100vh;
    width: 100%;
    max-width: 520px;
  }
  
  .summarySection {
    margin-right: 0;
    margin-bottom: 60px;
  }
}