.main-page {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff; 
  overflow: hidden;
  margin-top: -160px; 
  padding-top: 160px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 2;
  flex-grow: 1;
}

.hero-section {
  padding-top: 40px; 
  max-width: 600px;
}

.hero-title {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
  color: #212121;
  margin: 0;
}


.main-page::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/Group41@1x.png');
  background-repeat: no-repeat;
  background-position: right center; 
  background-size: 60% auto; 
  z-index: 20; 
  pointer-events: none;
}

/* Tablet styles (768px - 1279px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-page {
    margin-top: 0; 
    padding-top: 0;
    min-height: 100vh;
  }

  .hero-section {
    padding-top: 60px; 
    max-width: 100%;
  }

  .main-page::after {
    background-image: url('../../img/Group40@2x.png');
    background-size: auto 85%;
    background-position: bottom right;
    bottom: 0;
    top: auto;
    z-index: 1;
  }

  .container {
    z-index: 2;
    padding: 0 32px;
  }
}

/* Mobile styles (350px - 767px) */
@media screen and (min-width: 350px) and (max-width: 767px) {
  .main-page {
    margin-top: -130px; 
    padding-top: 130px;
    background-color: #ffffff;
  }

  .hero-section {
    padding-top: 0; 
    padding-bottom: 40px;
    max-width: 100%;
  }

  .main-page::after {
    display: none; 
  }

  .container {
    padding: 0 20px;
  }
}
