.main-page {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: transparent; 
  overflow: hidden;
  margin-top: -160px; 
  padding-top: 160px;
}

/* Mobile and Tablet: enable scroll */
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .main-page {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.container {
  position: relative;
  width: 100%;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0 20px;
  /* box-sizing: border-box; */
  z-index: 2;
  flex-grow: 1;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.hero-section {
  padding-top: 40px; 
  max-width: 600px;
  width: 100%;
  padding-left: 16px;
  box-sizing: border-box;
}

.hero-title {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
  color: #212121;
  margin: 0;
}


/* Tablet: 768px - 1279px */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-page {
    margin-top: 0; 
    padding-top: 0;
    min-height: 100vh;
  }

  .hero-section {
    padding: 32px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .container {
    z-index: 2;
    padding: 0 32px;
    align-items: flex-start;
  }
}

/* 880px - 1279px - Reduce side padding */
@media screen and (min-width: 880px) and (max-width: 1279px) {
  .container {
    padding: 0;
  }

  .hero-section {
    padding: 32px 0;
    max-width: 100%;
  }
}

/* Mobile styles (350px - 767px) */
@media screen and (min-width: 350px) and (max-width: 767px) {
  .main-page {
    margin-top: -130px; 
    padding-top: 130px;
    background-color: transparent;
  }

  .hero-section {
    padding-top: 32px; 
    padding-bottom: 40px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .container {
    padding: 0;
    align-items: flex-start;
  }
}
