.main-page {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff; 
  overflow: hidden;
  margin-top: -160px; 
  padding-top: 160px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 2;
  flex-grow: 1;
}

.hero-section {
  padding-top: 150px;
  max-width: 600px;
}

.hero-title {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
  color: #212121;
  margin: 0;
}


.main-page::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/Group41@1x.png');
  background-repeat: no-repeat;
  background-position: right center; 
  background-size: 50% auto; 
  z-index: 20; 
  pointer-events: none;
}

/* Tablet styles (768px - 1279px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-page {
    margin-top: -130px; 
    padding-top: 130px;
  }

  .hero-section {
    padding-top: 100px;
    max-width: 450px;
  }

  .hero-title {
    font-size: 32px;
  }

  .main-page::after {
    background-size: 100% auto;
    background-position: top right;
  }
}

/* Mobile styles (350px - 767px) */
@media screen and (min-width: 350px) and (max-width: 767px) {
  .main-page {
    margin-top: -130px; 
    padding-top: 130px;
  }

  .hero-section {
    padding-top: 60px;
    padding-bottom: 200px;
  }

  .hero-title {
    font-size: 18px;
    max-width: 280px;
  }

  .main-page::after {
    background-position: center bottom;
    background-size: 100% auto;
    opacity: 0.6;
    z-index: 10;
  }
}
