.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 33, 0.12);
  z-index: 1000;
  overflow: auto;
}

.modalContainer {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 320px;
  /* Mobil için full ekran gibi davranması isteniyorsa height ayarlanabilir */
  padding: 40px 20px;
  box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px; 
}

/* Tablet */
@media screen and (min-width: 768px) {
  .modalContainer {
    max-width: 594px; /* Referanstaki değer */
    padding: 64px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .modalContainer {
    max-width: 690px; /* Referanstaki değer */
  }
}