.header {
  width: 100%;
  background-color: #ffffff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.headerContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 16px;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoNavContainer {
  display: flex;
  align-items: center;
}

.separator {
  height: 32px;
  width: 2px;
  background-color: #E0E0E0;
  margin: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  margin-bottom: 20px;
}

.logoIcon {
  width: 60px;
  height: 60px;
}

.logoText {
  padding-left: 0;
  margin-top: 30px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.slim {
  color: #000000;
}

.mom {
  color: #fc842d;
}

.nav {
  margin-top: 10px;
  display: flex;
  gap: 24px;
  
}

.link {
  text-decoration: none;
  color: #9b9faa;
  font-weight: 700;
}

.active {
  color: #000000;
  text-decoration: none;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userName {
  font-weight: 700;
  color: #212121;
}

.logoutBtn {
  background: none;
  border: none;
  color: #9b9faa;
  font-weight: 700;
  cursor: pointer;
}

.logoutBtn:hover {
  color: #fc842d;
}