.header {
  width: 100%;
  background: #ffffff;
  position: relative;
  z-index: 10;
}

.headerContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 20px 20px 120px; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logoNavContainer {
  display: flex;
  align-items: center;
}

.separator {
  height: 32px;
  width: 2px;
  background-color: #E0E0E0;
  margin: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.logoIcon {
  width: 44px;
  height: 44px;
}

.logoText {
  display: flex;
  font-size: 22px;
  line-height: 1;
  font-family: 'Verdana', sans-serif;
}

.slim {
  color: #212121;
  font-weight: 400;
}

.mom {
  color: #fc842d;
  font-weight: 400;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #9b9faa;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.active {
  color: #212121;
  text-decoration: none;
}

.userInfo {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.userName {
  font-weight: 700;
  color: #212121;
}

.logoutBtn {
  background: none;
  border: none;
  color: #9b9faa;
  font-weight: 700;
  cursor: pointer;
  margin-left: 20px;
  padding: 0;
}

.logoutBtn:hover {
  color: #fc842d;
}

/* Tablet styles (768px - 1279px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    border-bottom: 2px solid #E0E0E0;
  }

  .headerContainer {
    padding: 16px 32px;
    justify-content: space-between;
  }

  .nav {
    margin-left: auto;
    gap: 20px;
  }
  .authNav {
    margin-left: 400px; 
    display: flex;
    gap: 20px;
    padding-top: 0; 
    align-items: center;
    white-space: nowrap;
  }
}

/* Mobile styles (350px - 767px) */
@media screen and (min-width: 350px) and (max-width: 767px) {
  .header {
    border-bottom: 2px solid #E0E0E0;
  }

  .separator {
    display: none;
  }

  .logoText {
    display: none;
  }
  
  .nav {
    display: flex;
    gap: 15px;
    margin-left: 10px;
  }
  
  .headerContainer {
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
}

.authNav {
  padding-top: 10px;
  
}