.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

/* Mobile and Tablet: enable scroll */
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .pageWrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  flex: 1;
}

/* Tablet: 768px - 1279px */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 32px;
  }
}

/* Desktop: 1280px and above */
@media screen and (min-width: 1280px) {
  .container {
    padding: 32px;
  }
}