/* src/App.css */

:root {
  --primary-color: #FC842D;
  --bg-gray: #F8F9FA;
  --bg-light: #F0F1F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Verdana', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-gray);
}

.app-main {
  flex: 1;
  width: 100%;
}

/* Backgrounds for Auth pages moved here */
.auth-background {
  min-height: 100vh;
}

/* Tablet Background */
@media (min-width: 768px) and (max-width: 1279px) {
  .auth-background {
    background-image: 
      url('/src/img/leavesLoginTablet@1x.png'),
      url('/src/img/strawberry@1x.png'),
      url('/src/img/banana@1x.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -5px -195px, 435px 315px, 210px 540px;
    background-attachment: fixed;
  }
}

/* Desktop Background */
@media (min-width: 1280px) {
  .auth-background {
    background-image: 
      url('/src/img/leavesLogin@1x.png'),
      url('/src/img/strawberry@1x.png'),
      url('/src/img/banana@1x.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 256px -46px, right 170px, 740px 341px;
    background-attachment: fixed;
  }
}